<a href="https://colab.research.google.com/github/rkava002/CSC221_rkava002/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#RYAN KAVANAUGH

In [ ]:
#ASSIGNMENT7

In [1]:
alien_0 = {'color': 'green', 'points':5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [2]:
alien_0 = {'color': 'green', 'points':5}


new_points = alien_0['points']
print (f"You just earned {new_points} points!")

You just earned 5 points!

In [3]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

alien_0 ['x_position'] = 0
alien_0 ['y_position'] = 25
print (alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [4]:
alien_0 = {}

alien_0['color'] = 'green'
alien_0 ['points'] = 5

print(alien_0)

{'color': 'green', 'points': 5}

In [6]:
alien_0 = {'color': 'green'}
print(f"The alien is {alien_0['color']}.")
alien_0['color'] = 'yellow'
print(f"The alien is now {alien_0['color']}.")

The alien is green.
The alien is now yellow.
The alien is green.
The alien is now yellow.

In [7]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

del alien_0['points']
print (alien_0)

{'color': 'green', 'points': 5}
{'color': 'green'}

In [ ]:
favorite_languages = {
    'jen' : 'python',
    'sarah' : 'c',
    'edward' : 'rust',
    'phil' : 'python'
    }

In [8]:
favorite_languages = {
    'jen' : 'python',
    'sarah' : 'c',
    'edward' : 'rust',
    'phil' : 'python'
    }

language = favorite_languages['sarah'].title()
print(f"Sarah's favorite language is {language}.")

Sarah's favorite language is C.

In [9]:
alien_0 = {'color' : 'green', 'speed' : 'slow'}

point_value = alien_0.get('points', 'No point value assigned.')
print (point_value)

No point value assigned.

In [10]:
# 6.1

tanner = {'first_name' : 'Tanner', 'last_name' : 'Estes', 'age' : '20', 'city' : 'Plattsburgh'}
print(tanner['first_name'])
print(tanner['last_name'])
print(tanner['age'])
print(tanner['city'])

Tanner
Estes
20
Plattsburgh

In [11]:
 #6.2

 numbers = {'Tanner': 15, 'Riley' : 6, 'Shaheer' : 7, 'Ryan' : 17, 'Mikey': 4}
 print(numbers['Tanner'])
 print(numbers['Riley'])
 print(numbers['Shaheer'])
 print(numbers['Ryan'])
 print(numbers['Mikey'])

15
6
7
17
4

In [16]:
words = {
    'print' : 'print a value',
    'title' : 'capitalize the first letter',
    'input' : 'asks for an input',
    'len' : 'prints the length of the string',
    'del' : 'deletes part of a string'
     }
print ('print')
print(words['print'])
print ('title')
print(words['title'])
print ('input')
print(words['input'])
print ('len')
print(words['len'])
print ('del')
print(words['del'])

print
print a value
title
capitalize the first letter
input
asks for an input
len
prints the length of the string
del
deletes part of a string

In [ ]:
user_0 = {
    'username' : 'efermi',
    'first' : 'enrico',
    'last' : 'fermi'
    }

In [29]:
user_0 = {
    'username' : 'efermi',
    'first' : 'enrico',
    'last' : 'fermi'
    }
for key, value in user_0.items():
  print(f"\nKey: {key}")
  print(f"Value: {value}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [33]:
#6.4
words = {
    'print' : 'print a value',
    'title' : 'capitalize the first letter',
    'input' : 'asks for an input',
    'len' : 'prints the length of the string',
    'del' : 'deletes part of a string',
    'range' : 'gives a range of numbers',
    'append' : 'adds s value to a list',
    'remove' : 'removes a value from a list',
    'if' : 'if this is happening do this',
    'sort' : 'sorts the values in a list in alphabetical order'
     }
for word, value in words.items():
  print(f"\nKey: {word}")
  print(f"Value: {value}")

Key: print
Value: print a value

Key: title
Value: capitalize the first letter

Key: input
Value: asks for an input

Key: len
Value: prints the length of the string

Key: del
Value: deletes part of a string

Key: range
Value: gives a range of numbers

Key: append
Value: adds s value to a list

Key: remove
Value: removes a value from a list

Key: if
Value: if this is happening do this

Key: sort
Value: sorts the values in a list in alphabetical order

In [35]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
  print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [38]:
pizza = {
    'crust' : 'thick',
    'toppings' : ['mushrooms', 'extra cheese'],
    }
print (f"You ordered a {pizza['crust']}-crust pizza" " with the following toppings:")

for topping in pizza ['toppings']:
  print (f"\t{topping}")

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese

In [40]:
users = {
    'aeinstein' : {

        'first' : 'albert',
        'last' : 'einstein',
        'location' : 'princeton',
      },
    'mcurie' : {
        'first' : 'marie',
        'last' : 'curie',
        'location' : 'paris',
      },
    }

for username, user_info in users.items():
  print(f"\nUsername: {username}")
  full_name = f"{user_info['first']}{user_info['last']}"
  location = user_info['location']

  print(f"\tFull name: {full_name.title()}")
  print(f"\tLocation: {location.title()}")

Username: aeinstein
	Full name: Alberteinstein
	Location: Princeton

Username: mcurie
	Full name: Mariecurie
	Location: Paris

In [50]:
#6.11

cities = {
    'Plattsburgh' : {
        'country' : 'USA',
        'population' : '20,000',
        'fact' : 'I grew up in Plattsburgh',
      },
    'Albany' : {
        'country' : 'USA',
        'population' : '100,000',
        'fact' : 'I went to many soccer touraments when I was younger in Albany',
      },
    'Burlington' : {
        'country' : 'USA',
        'population' : '45,000',
        'fact' : 'Burlington is where my Aunt lives',
      },
    }

for city, city_info in users.items():
  print(f"\nCity: {city}")
  location = city_info['country']
  population = city_info['population']
  fact = city_info['fact']

  print(f"\tlocation: {location.title()}")
  print(f"\population: {population.title()}")
  print(f"\fact: {fact.title()}")

#I do not understand what could be possily wrong with this because I followed the program above exactly. Dont undertsand how its saying country isnt a key when it is one.
#not sure hopw to fix it and i have been working on this assignment for hours

City: aeinstein

KeyError: ignored

In [56]:
#6.12
pizza = {
    'crust' : 'thick',
    'toppings' : ['mushrooms', 'extra cheese', 'pepperoni', 'bacon', 'ham', 'peppers'],
    'size' : 'large'
    }
print (f"You ordered a {pizza['crust']}-crust pizza" " with the following toppings:")

for topping in pizza ['toppings']:
  print (f"\t{topping}")

print (f"What size pizza would you like?")
for size in pizza ['size']:
  print (f"{size}")

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese
	pepperoni
	bacon
	ham
	peppers
What size pizza would you like?
l
a
r
g
e