<a href="https://colab.research.google.com/github/rkava002/CSC221_rkava002/blob/main/Assignment26_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#RyanKavanaugh
#CSC221A

In [ ]:
#1
int_var = 42
float_var = 3.14
string_var = "Hello, World!"

print(int_var, float_var, string_var)

42 3.14 Hello, World!

In [ ]:
#2
something = "awesome"
formatted_string = f'Something like this with {something} in it.'
print(formatted_string)

Something like this with awesome in it.

In [ ]:
#3
example_string = "hello, world"
print(example_string.capitalize())
print(example_string.upper())
print(example_string.replace("world", "Colab"))

Hello, world
HELLO, WORLD
hello, Colab

In [ ]:
#4
my_list = [1, 2, 3, 4, 5]
print(sum(my_list))

15

In [ ]:
#5
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(list_of_lists[1][2])

6

In [ ]:
#6
original_list = [3, 1, 4, 1, 5, 9, 2]
sorted_list = sorted(original_list)
print(sorted_list)
print(original_list)

[1, 1, 2, 3, 4, 5, 9]
[3, 1, 4, 1, 5, 9, 2]

In [ ]:
#7
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#8
squares_not_mult_of_seven = [x**2 for x in range(1, 1001) if x % 7 != 0]
print(squares_not_mult_of_seven[:10])

[1, 4, 9, 16, 25, 36, 64, 81, 100, 121]

In [ ]:
#9
def sieve_of_eratosthenes(n):
    primes = []
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False

    for i in range(2, int(n**0.5) + 1):
        if is_prime[i]:
            primes.append(i)
            for j in range(i*i, n + 1, i):
                is_prime[j] = False

    primes.extend(i for i in range(int(n**0.5) + 1, n + 1) if is_prime[i])
    return primes

primes_up_to_1000 = sieve_of_eratosthenes(1000)
print(primes_up_to_1000[:10])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
#10
def my_prime_generator(N):
    primes = sieve_of_eratosthenes(N)
    for prime in primes:
        yield prime

for x in my_prime_generator(200):
    print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
#11
import random

random_integers = [random.randint(1, 100) for _ in range(1000)]
print("Min:", min(random_integers))
print("Max:", max(random_integers))
print("Sum:", sum(random_integers))
print("Average:", sum(random_integers) / len(random_integers))

Min: 1
Max: 100
Sum: 50621
Average: 50.621

In [ ]:
#12
def classify_number(number):
    if number > 0:
        return "Positive"
    elif number < 0:
        return "Negative"
    else:
        return "Zero"

print(classify_number(-5))

Negative

In [ ]:
#13
# - Indentations should be 4 spaces (I expected tabs to be acceptable).
# - Limit all lines to a maximum of 79 characters for docstrings and comments.
# - Imports should usually be on separate lines and should be grouped.

In [ ]:
#14
%%file testfile.txt
Amy, cat
Fred, dog
Hunter, dog
Peena, parakeet
Rover, dog

Writing testfile.txt

In [ ]:
#15
pet_dict = {}
with open("testfile.txt", "r") as file:
    for line in file:
        name, pet_type = line.strip().split(", ")
        pet_dict[name] = pet_type

print(pet_dict)

{'Amy': 'cat', 'Fred': 'dog', 'Hunter': 'dog', 'Peena': 'parakeet', 'Rover': 'dog'}

In [ ]:
#16
unique_pet_types = set(pet_dict.values())
print(unique_pet_types)

{'dog', 'parakeet', 'cat'}

In [ ]:
#17
number = 80
while number >= 16:
    print(number)
    number -= 8

80
72
64
56
48
40
32
24
16

In [ ]:
#18
def min_max_sum_tuple(a, b, c):
    return min(a, b, c), max(a, b, c), a + b + c

print(min_max_sum_tuple(3, 1, 4))

(1, 4, 8)

In [ ]:
#19
def min_max_sum_tuple(*numbers):
    return min(numbers), max(numbers), sum(numbers)

print(min_max_sum_tuple(3, 1, 4, 5, 9))

(1, 9, 22)

In [ ]:
#20
def traceroo(func):
    def wrapper(*args, **kwargs):
        print(f"Calling {func.__name__} with arguments {args} and keyword arguments {kwargs}")
        result = func(*args, **kwargs)
        print(f"{func.__name__} returned {result}")
        return result
    return wrapper

def example_function(a, b):
    return a + b

example_function(2, 3)

5

In [ ]:
#21
class MyClass:
    def __init__(self, value):
        self.value = value

    def __repr__(self):
        return f"MyClass({self.value})"

    def __str__(self):
        return f"Instance of MyClass with value: {self.value}"

    def __add__(self, other):
        return MyClass(self.value + other.value)

obj1 = MyClass(5)
obj2 = MyClass(10)
print(repr(obj1))
print(str(obj1))
result_obj = obj1 + obj2
print(result_obj)

MyClass(5)
Instance of MyClass with value: 5
Instance of MyClass with value: 15

In [ ]:
#22
import math

birthdate = "0904"
pi_digits = str(math.pi)

if birthdate in pi_digits:
    print(f"Yes, my birth date {birthdate} is in the digits of pi at index {pi_digits.find(birthdate)}")
else:
    print(f"No, my birth date {birthdate} is not in the digits of pi.")

No, my birth date 0904 is not in the digits of pi.

In [ ]:
%%file final_functions.py

def classify_number(number):
    if number > 0:
        return "Positive"
    elif number < 0:
        return "Negative"
    else:
        return "Zero"

def min_max_sum_tuple(*numbers):
    return min(numbers), max(numbers), sum(numbers)

def traceroo(func):
    def wrapper(*args, **kwargs):
        print(f"Calling {func.__name__} with arguments {args} and keyword arguments {kwargs}")
        result = func(*args, **kwargs)
        print(f"{func.__name__} returned {result}")
        return result
    return wrapper

Writing final_functions.py

In [ ]:
%%file final.py
from final_functions import classify_number, min_max_sum_tuple, traceroo

# Example usage
number_classification = classify_number(-5)
print(f"Number classification: {number_classification}")

result_tuple = min_max_sum_tuple(3, 1, 4, 5, 9)
print(f"Min, Max, Sum tuple: {result_tuple}")

@traceroo
def example_function(a, b):
    return a + b

example_result = example_function(2, 3)
print(f"Example function result: {example_result}")

Writing final.py

In [ ]:
%%file test_final.py
from final_functions import classify_number, min_max_sum_tuple, traceroo

def test_classify_number():
    assert classify_number(-5) == "Negative"
    assert classify_number(0) == "Zero"
    assert classify_number(5) == "Positive"

def test_min_max_sum_tuple():
    assert min_max_sum_tuple(3, 1, 4, 5, 9) == (1, 9, 22)
    assert min_max_sum_tuple(-2, 0, 2) == (-2, 2, 0)

def test_traceroo(capsys):
    @traceroo
    def example_function(a, b):
        return a + b

    result = example_function(2, 3)

    captured = capsys.readouterr()
    assert "Calling example_function with arguments (2, 3)" in captured.out
    assert "example_function returned 5" in captured.out
    assert result == 5

Writing test_final.py

In [ ]:
# Running final.py
!python final.py

# Running pytest for test_final.py
!pip install pytest
!pytest test_final.py

Number classification: Negative
Min, Max, Sum tuple: (1, 9, 22)
Calling example_function with arguments (2, 3) and keyword arguments {}
example_function returned 5
Example function result: 5
Requirement already satisfied: pytest in /usr/local/lib/python3.10/dist-packages (7.4.3)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest) (23.2)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest) (1.2.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest) (2.0.1)
======================================= test session starts ========================================
platform linux -- Python 3.10.12, pytest-7.4.3, pluggy-1.3.0
rootdir: /content
plugins: anyio-3.7.1
collected 3 items

test_final.py ...                                                                            [100%]

======================================== 3 passed in 0.02s =========================================